@import 'tailwindcss';

:root {
  --background: #f6f6f6;
  --foreground: #4e4d4d;
  --primary: #0c413e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

input,
textarea {
  @apply bg-background px-1 py-0.5 border border-primary block w-full;
}


h1 {
  @apply text-4xl font-bold my-8 text-center
}